*,
h1,
h2 {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.img {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  max-width: 25vw;
  min-width: 25vw;
  min-height: 25vh;
  max-height: 100vw;
}

.background {
  position: fixed;
  bottom: 0vh;
  left: 0;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 150vh;
  margin-bottom: -15vh;
  z-index: -1;
}

.back2 {
  max-height: 100vh;
  min-height: 100vh;
  margin-bottom: 0;
  bottom: 0;
  right: 0;
}

.backanimated {
  animation: backgroundanim 10s cubic-bezier(0.5, 0, 0.5, 1) 0s infinite forwards;
  transform: scaleX(200%) scaleY(50%);
}

.sectionBack {
  background-color: #f78dc9;
}

body {
  min-height: 100vh;
  overflow: hidden;
  user-select: none;
  background-color: #ed878d;
  max-width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

body .topbar {
  border-width: 0.25vw;
  border-style: solid;
  max-width: 100%;
  border-color: #dd8ae0;
  background-color: thistle;
  display: flex;
  flex-direction: row;
  gap: 0.25vw;
  font-size: 1.5vmax;
  justify-content: center;
}

body .topbar img {
  max-height: 2.5vw;
}

body .topbar a {
  text-decoration: none;
  color: black;
  width: 10vw;
  text-align: center;
  background-color: #b287ed;
  border-radius: 0.75vw;
  border-color: #dd8ae0;
  border-style: ridge;
  border-width: 0.25vw;
  user-select: none;
}

body .topbar a:hover {
  background-color: #d78df7;
}

body .topbar a:active {
  border-style: groove;
  border-width: 0.25vw 0 0 0.25vw;
  margin-right: 0.25vw;
  margin-bottom: 0.25vw;
  transform: translate(0.25vw, 0.25vw);
}

body section {
  flex: 1 1 0;
}

body section .companyName {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  max-width: fit-content;
  background-color: #dd8ae0;
  border-color: #b287ed;
  border-style: groove;
  border-width: 1vw;
  text-align: center;
  color: #d78df7;
  font-size: 7.5vw;
  text-shadow: #dd8ae0 0.125vw 0.125vw 0.5vw;
}

body section .companyName img {
  min-width: 12.5vw;
  min-height: 12.5vw;
  max-width: 12.5vw;
  max-height: 12.5vw;
}

body section .companySlogan {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  max-width: fit-content;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ed878d;
  border-color: #b287ed;
  border-style: groove;
  border-width: 1vw;
  text-align: center;
  color: #d78df7;
  font-size: 2.5vmax;
  text-shadow: black 0.125vw 0.125vw 0.75vw;
}

body section .companySlogan img {
  width: 7.5vw;
  height: 7.5vw;
}

body section .productlist {
  font-size: 2.5vmax;
  display: flex;
  margin-left: 0 auto;
  text-align: center;
  justify-self: center;
  align-self: center;
  flex-wrap: wrap;
  margin-left: 27.5vw;
  justify-content: center;
  max-width: 40vw;
  min-width: 40vw;
  gap: 2.75vmax;
  list-style: none;
  color: #ed878d;
  text-shadow: black 0.125vw 0.125vw 0.125vw;
}

body section .productlist div {
  user-select: none;
  text-align: center;
  font-size: 2.5vw;
  max-height: 10vmax;
  max-width: 10vmax;
  min-width: 10vmax;
  min-height: 10vmax;
  align-content: center;
}

body section .productlist div img {
  border-style: ridge;
  border-width: 1.25vmax;
  border-color: #d78df7;
  background-color: #ed878d;
  width: 10vmax;
  height: 10vmax;
}

body section .productlist div ul {
  overflow-y: auto;
  list-style: none;
  text-align: center;
  transition-duration: 0.25s;
  transform-origin: top;
  transform: scaleY(0%);
  max-height: 30vh;
}

body section .productlist div ul li {
  font-size: 2vw;
  text-align: left;
}

body section .productlist div:hover ul {
  transform: scaleY(100%);
}

/*
put in the order form data here.
this will be the order for your cookies/cake/cupcakes
*/
form {
  margin: 0 auto;
  text-align: center;
  background-color: #dd8ae0;
  max-width: 75vw;
  min-height: 100%;
}

fieldset {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

fieldset input {
  background-color: #f78dc9;
  border-color: #b287ed;
}

fieldset div {
  margin: 0 auto;
  justify-self: center;
  text-align: start;
  min-width: 50%;
}

fieldset div p {
  min-width: 50%;
  font-size: 4.5vmin;
}

.asSquare {
  min-width: 8vmin;
  min-height: 8vmin;
  max-width: 8vmin;
  max-height: 8vmin;
}

.vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1vmin;
}

.halfWidth {
  max-width: 50%;
}

.buttons {
  gap: 1vmin 0vmin;
}

.orderListItem {
  margin: 0;
  flex-wrap: nowrap;
}

.orderListItem img {
  max-width: 7.5vmin;
  max-height: 7.5vmin;
  margin-bottom: -5%;
  padding: 0;
}

.BakedGoods {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  max-width: 50%;
  overflow-y: auto;
  min-width: 35%;
  margin: 0 auto;
  gap: 0.5vmax;
  border-style: solid;
}

.BakedGoods .BACKBUTTON {
  border: none;
  position: fixed;
  color: black;
  text-decoration: none;
  text-align: center;
  bottom: 2.5vh;
  left: 65vw;
  min-width: 2.5vmax;
  max-width: 2.5vmax;
  min-height: 2.5vmax;
  max-height: 2.5vmax;
}

.BakedGoods .BACKBUTTON img {
  min-width: 2.5vmax;
  max-width: 2.5vmax;
  min-height: 2.5vmax;
  max-height: 2.5vmax;
}

.sellingItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: black;
  font-size: 1.5vmax;
  text-shadow: -0.05vmax 0.15vmax 0.05vmax white;
  max-width: 100%;
  min-width: 100%;
  user-select: none;
  pointer-events: none;
  margin-bottom: 2vmax;
}

.sellingItem:last-of-type {
  margin-bottom: 5vw;
}

.sellingItem p {
  font-weight: 500;
  font-size: 2vw;
  pointer-events: none;
  line-break: loose;
  margin-left: 4vmax;
  min-width: calc(calc(100% - 16.75vmax));
  max-width: calc(100% - 16.75vmax);
}

.sellingItem img {
  pointer-events: all;
  position: static;
  min-width: 4vmax;
  min-height: 4vmax;
  max-width: 5vmax;
  max-height: 4vmax;
  /*&:hover{
      position:absolute;
      top:0;
      left:0;
      bottom: auto;
      min-width: 25vmax;
      max-height: 25vw;
      min-height: 25vmax;
      max-width: 25vw;
      z-index: 1000 !important;
    }*/
}

#imagePopup {
  position: absolute;
  top: 3.75vw;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  visibility: hidden;
  max-width: 25.5vw;
  min-width: 25.5vw;
  left: 1vw;
}

#imagePopup img {
  min-width: 25vw;
  min-height: 25vw;
  max-width: 25vw;
  border-style: solid;
  border-width: 0px 0.25vw 0.25vw 0.25vw;
  border-color: #b287ed;
  padding: 0;
  background-color: #b287ed;
}

#imagePopup p {
  font-size: 2vw;
  text-align: center;
  background-color: #dd8ae0;
  border-color: #b287ed;
  border-style: solid;
  border-width: 0.25vw;
  min-width: 23vw;
  max-width: 23vw;
  min-height: 2vw;
  max-height: 2vw;
}

#imagePopup p .closeButton {
  font-size: 1vw;
  border-style: solid;
  border-width: 0.25vw 0.25vw 0.25vw 0vw;
  border-color: #b287ed;
  max-width: 2vw;
  min-width: 2vw;
  min-height: 2.5vw;
  max-height: 2.5vw;
  margin-top: -0.25vw;
  margin-bottom: -0.25vw;
  margin-right: -2.25vw;
  float: right;
  background-color: #f78dc9;
}

.bottom text {
  left: 20rem;
  top: -15rem;
}

.addButton,
.subButton {
  pointer-events: all;
  align-self: flex-end;
  float: right;
  min-width: 4.375vmax;
  min-height: 4.375vmax;
  max-width: 4.375vmax;
  max-height: 4.375vmax;
  font-size: 3.375vw;
}

.myCart {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  right: 0;
  top: 0;
  min-height: calc(100% - 3vw);
  max-height: calc(100% - 3vw);
  min-width: 25%;
  max-width: 25%;
  background-color: #dd8ae0;
  margin-top: 3vw;
  margin-bottom: -25%;
}

.myCart::before {
  content: "MY CART*";
  text-align: center;
  font-size: 2.5vw;
  max-height: 3vw;
  min-height: 3vw;
}

.myCart div {
  flex: 6 6 0;
  overflow-y: auto;
  border: #b287ed solid 0.25vw;
}

.myCart div ul {
  list-style: none;
}

.myCart .finalCost {
  margin: 0;
  overflow-y: hidden;
  min-height: fit-content;
  flex: 4 4 0;
  border: 0;
  padding: 0;
}

.myCart .finalCost .inputAddress {
  padding: 0;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.myCart .finalCost .inputAddress textArea {
  margin: 0;
  padding: 0;
  resize: none;
  min-height: 10vh;
  min-width: 95%;
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 900px) {
  #imagePopup {
    left: auto;
    right: auto;
    margin: 6.25vmax 37.25vw 0vw 37.25vw;
    text-align: center;
  }
  .topbar {
    font-size: 5vw;
  }
  .topbar img {
    min-width: 10vw;
    max-width: 10vw;
    min-height: 10vw;
    max-height: 10vw;
  }
  .topbar a {
    min-width: 25vw;
    max-width: 25vw;
    font-size: 5vw;
  }
  .companyName img {
    min-width: 15vh;
    min-height: 15vh;
  }
  body {
    overflow-y: hidden;
    max-height: 100vh;
    min-height: 100vh;
  }
  .myCart {
    overflow: hidden;
    float: none;
    min-width: 102vw;
    max-width: 102vw;
    max-height: 75.5vh;
    min-height: 75.5vh;
    position: absolute;
    margin: 0;
    top: 48vh;
    left: 0vw;
  }
  .myCart div {
    max-height: 25vh;
    min-height: 25vh;
  }
  .myCart div ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .myCart div ul li {
    min-width: 33%;
    max-width: 33%;
  }
  .myCart div ul li::before {
    content: "";
    margin-left: 1.5%;
  }
  .myCart::before {
    font-size: 5vh;
    min-height: 5.5vh;
    max-height: 5.5vh;
  }
  .myCart div {
    flex: 1 1 0;
  }
  .myCart .finalCost {
    flex: 1 1 0;
    min-width: 99vw;
    max-width: 99vw;
    max-height: fit-content;
  }
  .myCart .finalCost p {
    font-size: 1.75vh;
  }
  .myCart .finalCost .inputAddress {
    max-height: 18.5vh;
    min-height: 18.5vh;
  }
  .myCart .finalCost .inputAddress input {
    max-width: 45%;
    min-width: 45vw;
    margin-top: -1.5vh;
    margin-bottom: 1.5vh;
    min-height: 2vh;
  }
  .myCart .finalCost .inputAddress textArea {
    margin-top: -1.5vh;
    max-width: 45vw;
    min-width: 45vw;
    min-height: 5vh;
    padding: 0;
  }
  .myCart .finalCost .inputAddress button {
    justify-self: start;
    z-index: 10000 !important;
    bottom: 7.75vh;
    left: 0;
    display: flex;
    margin: auto;
  }
  .sellingItem {
    font-size: 4vmax;
  }
  .BakedGoods {
    min-width: 100%;
    flex: 1 1 0;
    max-height: 44.5vh;
    min-height: 44.5vh;
    margin: 0;
    overflow-y: auto;
  }
  .bottom,
  text {
    display: none;
  }
  .addButton,
  .subButton {
    min-width: 5vmin;
    min-height: 5vmin;
    max-width: 5vmin;
    max-height: 5vmin;
    margin-right: 2.5vmin;
    margin-left: -1.875vmin;
  }
  .BACKBUTTON {
    text-align: right;
    justify-self: right;
    border: none;
    position: fixed;
    color: black;
    text-decoration: none;
    text-align: center;
    top: 52.5vh;
    margin-left: 31.5vw;
  }
}

/*
this is for the scrollbar
*/
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes backgroundanim {
  0% {
    transform: translateX(0%) translateY(25%) scaleX(200%) scaleY(50%);
  }
  50% {
    transform: translateX(-50%) translateY(25%) scaleX(200%) scaleY(50%);
  }
  100% {
    transform: translateX(0%) translateY(25%) scaleX(200%) scaleY(50%);
  }
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
}

.tab {
  min-width: 0vw;
  border-width: 0.375vw;
}

.tab img {
  max-width: 100%;
  max-height: 100%;
}

.tab h1 {
  border-width: 0.375vw;
  background-color: #f78dc9;
  border: solid;
  border-color: black;
}

.tab h1::before {
  padding-left: 0.375vw;
  content: "X";
  background-color: #b287ed;
  float: right;
  min-width: 1.5vw;
  min-height: 100%;
  padding-right: 0vw;
  border: solid;
  border-width: 0px 0px 0.25vw 0.375vw;
}

.tab div {
  border-width: 0.375vw;
  background-color: #dd8ae0;
  border: solid;
  border-color: black;
}

.v10 {
  max-width: 10vmax;
  min-width: min-content;
}

.v15 {
  max-width: 15vmax;
  min-width: min-content;
}

.v20 {
  max-width: 20vmax;
  min-width: min-content;
}

.v30 {
  max-width: 30vmax;
  min-width: min-content;
}

.off5 {
  margin-top: 5vmax;
}

.off10 {
  margin-top: 10vmax;
}

.off15 {
  margin-top: 15vmax;
}

.off20 {
  margin-top: 20vmax;
}

.off5m {
  padding-top: 5vmax;
  margin-top: -5vmax;
}

.s5 {
  min-width: 5vmax;
}

.s10 {
  min-width: 10vmax;
}

.s15 {
  min-width: 15vmax;
}

.s20 {
  min-width: 20vmax;
}
/*# sourceMappingURL=base.css.map */